html, body {
    font-family:Helvetica, Arial, sans-serif;
}

body {
    margin: 0%;
            padding: 0;
                content: 100;

      }

header {
                            top:0;
                            left:0;
                                width: 100%;
                                height: 10%;
                                        overflow:auto;
                                            background:brown;
}

#Navigation {
    position: relative;
        top:0;
        left:0;
            float:none;
                clear:none;
                    overflow:hidden;
                        background:pink;
}

#News {
    width:12%;
    height:100%;
    margin: 0 auto;
        position:absolute;
            left:0;
                float:none;
                    clear:none;
                        overflow:hidden;
                            background:blue;
                            text-align: center;
                            
}

#MainSection {
    width: 73%;
    height: 74%; 
    position: absolute;
        left: 12%;
            overflow: auto;
                background:red;
}

#TsunamiFlowInformation {
    width:15%;
    height:100%;
        position: absolute;
            right:0;
                float:right;
                    clear:none;
                        overflow:inherit;
                            background:green;
}

#TsunamiFlowStyle {
    margin: 0%;
    padding: 0;
    content: 100;
    width: 100%;
    height: 10%;
    position: absolute;
        bottom:0%;
                overflow:scroll;
                                            background:rgb(255, 255, 255);
                  }

footer {
    width: 100%;
    height: 20%;
    position: absolute;
        top:100%;
    overflow:scroll;
        background:yellow;
}

#Motto {
    width: 35%;
    height:100%;
        position: absolute;
            left: 0;
                float:inline-start;
                    clear:inline-start;
                    overflow: hidden;
}

#Tycadome {
                    width: 30%;
                    height:100%;
                        position: absolute;
                            left: 35%;
                            float:inline-start;
                            clear:inline-start;
                            overflow: hidden;
        }

#Mantra {
                    width:35%;
                    height:100%;
                        position: absolute;
                            left: 65%;
                                    float:inline-start;
                                    clear:inline-start;
                                    overflow: hidden;
        }


#TsunamiNews {
        position: relative;
            top:0;
            left:0;
                        overflow:hidden;

}

/* this is for the actual news updates */
.NewsTicker {
    width: 98%;
    height: 45%;
    overflow: hidden;
    border: 1px solid whitesmoke;
    margin: 0px;
    padding: 0px; 
    list-style-type: none;
    box-shadow: 0px 0px 5px greenyellow;

}

.BizzTicker{
    width: 100%;
    height: 95%;
    overflow: hidden;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-shadow: 0px 0px 5px white;
}

.Ticker li {
    height: 20%;
    border-bottom: 1px dotted black;
    padding: 5 px;
    margin: 0px 5px;
    text-align: center;
}



/* this is the end of the stuff for the actual news updates. */

#IntroVideo {
    width:auto;
    height:auto;     
            }      

    /* Mishuba game sectin starts here. I will space it out like tabs */
#HomeGame {
    width: 93%;
    height: 30%;
    border: 1px solid black;
}

        /*The character and its animation*/
    #MishubaHomeGame{
        width: 6%;
        height: 30%;
        position: relative;
        top: 70%;
        
    }
        .animate{
            animation: jump 500ms;
        }
            @keyframes jump{
                    0%{top: 50.33%}
                    30%{top: 70%}
                    70%{top: 70%}
                    100%{top: 50.33%;}
                }

        /*The block and its animation*/
    #block {
        width: 4%;
        height: 10%;
        background-color: black;
        position: relative;
        top: 60%;
        left: 96%;
        animation: block 1s infinite linear;
    }
        @keyframes block{
            0%{left:96%;}
            100%{left:-12%}
        }

#TFBio {
    position: relative;
    top:0;
    left:0;
                overflow:hidden;
        }

#MissionStatement {
    position: relative;
    top:0;
    left:0;
                overflow:hidden;
        }

#ExecutiveSummary {
    position: relative;
        top:0;
        left:0;
            overflow:hidden;
        }


#SomethingList {
    position: absolute;
    left:0%;
    float:inline-end;
    overflow:hidden;
        }
#TheList {
    position: absolute;
    left:35%;
    width: 40%;
    height: 100%;
    float: inline-end;
    overflow: hidden;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-shadow: 0px 0px 5px white;
        }

#Donation {
            position: absolute;
            left:80%;
            left:80%;
            float: inline-end;
            overflow: hidden;
}



#TFNP {
                        position: relative;
                        top:0;
                        left:0;
        }

#TFA {
                        position: relative;
                        top:0;
                        left:0;
        }

#QuickLinks {
                        position: relative;
                        top:0;
                        left:0;
        }

#Subscribe {
                    position: relative;
                    top:0;
                    left:0;
                                    overflow: hidden;
        }


#MusicPlayer {
                    position:relative;
                    top:0;
                    left:0;
        }