
body {
    margin: 0%;
        border-width: ;
        border-style: ;
        border-color: ;
            padding: 0;
                content: 100;

      }

header {
                        position: relative;
                            top:0;
                            left:0;
                                width: 100%;
                                height: 10%;
                                        overflow:auto;
                                            background:brown;
}

#Navigation {
    position: relative;
        top:0;
        left:0;
            float:none;
                clear:none;
                    overflow:hidden;
                        background:pink;
}

#News {
    width:12%;
    height:100%;
        position:absolute;
            left:0;
                float:none;
                    clear:none;
                        overflow:inherit;
                            background:blue;
                            
}

#MainSection {
    width: 73%;
    height: 74%; 
    position: absolute;
        left: 12%;
            overflow: auto;
                background:red;
}

#TsunamiFlowInformation {
    width:15%;
    height:100%;
        position: absolute;
            right:0;
                float:right;
                    clear:none;
                        overflow:inherit;
                            background:green;
}

#TsunamiFlowStyle {
    width: 100%;
    height: 10%;
    position: absolute;
        bottom:0%;
                overflow:scroll;
                                            background:black;
                  }

footer {
    width: 100%;
    height: 20%;
    position: absolute;
        top:100%;
    overflow:scroll;
        background:yellow;
}

#Tycadome {
                    width: 50%;
                    height:100%;
                        position: absolute;
                            left:0;
                                float:none;
                                    clear:both;
                                    font: ;
                                    text: ;

        }

#Mantra {
                    width:50%;
                    height:100%;
                        position: absolute;
                            right:0;
                                float:none;
                                    clear:both;
                                        overflow:hidden;
                                        font: ;
                                        text: ;
        }





#TsunamiNews {
        position: relative;
            top:0;
            left:0;
                        overflow:hidden;
                        font: ;
                        text: ;

}

#IntroVideo {
    width:auto;
    height:auto;     
            }      

    /* Mishuba game sectin starts here. I will space it out like tabs */
#HomeGame {
    width: 93%;
    height: 30%;
    border: 1px solid black;
}

        /*The character and its animation*/
    #MishubaHomeGame{
        width: 6%;
        height: 30%;
        position: relative;
        top: 70%;
        
    }
        .animate{
            animation: jump 500ms;
        }
            @keyframes jump{
                    0%{top: 50.33%}
                    30%{top: 70%}
                    70%{top: 70%}
                    100%{top: 50.33%;}
                }

        /*The block and its animation*/
    #block {
        width: 4%;
        height: 10%;
        background-color: black;
        position: relative;
        top: 60%;
        left: 96%;
        animation: block 1s infinite linear;
    }
        @keyframes block{
            0%{left:96%;}
            100%{left:-12%}
        }

#TFBio {
    position: relative;
    top:0;
    left:0;
                overflow:hidden;
        }

#MissionStatement {
    position: relative;
    top:0;
    left:0;
                overflow:hidden;
        }

#ExecutiveSummary {
    position: relative;
        top:0;
        left:0;
            overflow:hidden;
        }


#SomethingList {
    position: relative;
    top:0;
    left:0;
                overflow:hidden;
        }
#TheList {
    position: relative;
    top:0;
    left:0;
                overflow:hidden;
        }




#TFNP {
                        position: relative;
                        top:0;
                        left:0;
        }

#TFA {
                        position: relative;
                        top:0;
                        left:0;
        }

#Donation {
                    position: relative;
                    top:0;
                    left:0;
        }

#QuickLinks {
                        position: relative;
                        top:0;
                        left:0;
        }

#Subscribe {
                    position: relative;
                    top:0;
                    left:0;
                                    overflow: hidden;
        }


#MusicPlayer {
                    position:relative;
                    top:0;
                    left:0;
        }